#login-container input{
    margin-bottom: 20px;
    
}


#login-container {

    background-color: rgba(255, 255, 255, 0.747);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 5vh;
    border-radius: 50px 12px 50px 12px;
    text-align: center;
    box-shadow: rgb(0 0 0 / 40%) 0 20px 20px;
}

body{
    background-image: url("fotos/aoba.jpg");
    background-repeat: no-repeat;
}
.botaotao{
background-color: #0071e3;
color: floralwhite;


}